[Desktop Entry]
Type=Application
Version=1.0
Name=CRIXA Welcome
Comment=Open the CRIXA Welcome Hub on first login
Exec=crixa-welcome
OnlyShowIn=KDE;
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-KDE-autostart-phase=2
