[Desktop Entry]
Version=1.0
Type=Application
Name=Orbit
Comment=Open the Orbit dashboard
Exec=crixa-menu
Icon=crixa-launcher
Terminal=false
Categories=System;
StartupNotify=false
NoDisplay=true
X-KDE-Shortcuts=Alt+Space
