[Desktop Entry]
Version=1.0
Type=Application
Name=CRIXA Terminal
Comment=Launch terminal
Exec=crixa-terminal
Icon=crixa-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=false
