[Desktop Entry]
Version=1.0
Type=Application
Name=CRIXA Browser
Comment=Browse the web with Firefox ESR
Exec=crixa-browser
Icon=crixa-browser
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=false
