[Desktop Entry]
Type=Application
Version=1.0
Name=Dockyard
Comment=Install CRIXA OS to disk
Exec=crixa-installer
Icon=drive-harddisk
Terminal=false
Categories=System;Settings;
StartupNotify=true
