[Desktop Entry]
Version=1.0
Type=Application
Name=CRIXA Control Center
Comment=Visual and system controls for CRIXA OS
Exec=crixa-settings
Icon=crixa-settings
Terminal=false
Categories=Settings;System;
StartupNotify=false
