[Desktop Entry]
Version=1.0
Type=Application
Name=Backdrop
Comment=Browse and switch installed wallpapers
Exec=crixa-files /usr/share/backgrounds/crixa
Icon=preferences-desktop-wallpaper
Terminal=false
Categories=Graphics;Utility;
StartupNotify=false
