[Desktop Entry]
Version=1.0
Type=Application
Name=Hangar
Comment=File workspace powered by Dolphin
Exec=crixa-files
Icon=system-file-manager
Terminal=false
Categories=System;FileManager;
StartupNotify=false
