[Desktop Entry]
Version=1.0
Type=Application
Name=Navigator
Comment=Web workspace powered by Firefox ESR
Exec=crixa-browser
Icon=firefox-esr
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=false
