[Desktop Entry]
Version=1.0
Type=Application
Name=Console
Comment=Command-line workspace powered by Konsole
Exec=crixa-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=false
