[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube
Comment=Open YouTube in Firefox ESR
Exec=crixa-browser https://www.youtube.com
Icon=crixa-youtube
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=false
